.one
{
	display:flex;
	flex-direction:column;
	margin-top:10px;
	margin-bottom:10px;
}
.one .header
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.one .header .header1
{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.one .header .header1 .b
{
	height:30px;
	width:80px;
	background-color:blue;
	margin:10px;
}
.one .header .header2
{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
}
.one .header .header2 .b
{
	height:30px;
	width:80px;
	background-color:blue;
	margin:10px;
}
.one .split
{
	display:flex;
	flex-direction:column;
}
.one .split .split1
{
	display:flex;
	flex-direction:column;
	background-color:orange;
}
.one .split .split1 .dark
{
	height:50px;
	width:300px;
	background-color:white;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split1 .button
{
	height:30px;
	width:80px;
	background-color:pink;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin:50px;
}
.one .split .split2 .split21
{
	display:flex;
	flex-direction:column;
}
.one .split .split2 .split21 .dark
{
	height:50px;
	width:300px;
	background-color:gray;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:5px;
}
.one .split .split2 .split21 .text
{
	height:100px;
	width:300px;
	background-color:black;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split2 .split22
{
	display:flex;
	justify-content:center;
}
.one .split .split2 .split22 .box
{
	height:200px;
	width:200px;
	background-color:blue;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:60px;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.one .split .split3 
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin:50px;
}
.one .split .split3 .split31
{
	display:flex;
	justify-content:center;
}
.one .split .split3 .split31 .box
{
	height:200px;
	width:200px;
	background-color:blue;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:60px;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.one .split .split3 .split32
{
	display:flex;
	flex-direction:column;
}
.one .split .split3 .split32 .dark
{
	height:50px;
	width:300px;
	background-color:gray;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:5px;
}
.one .split .split3 .split32 .text
{
	height:100px;
	width:300px;
	background-color:black;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split4
{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin:50px;
}
.one .split .split4 .split41
{
	display:flex;
	flex-direction:column;
}
.one .split .split4 .split41 .dark
{
	height:50px;
	width:300px;
	background-color:gray;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:5px;
}
.one .split .split4 .split41 .text
{
	height:100px;
	width:300px;
	background-color:black;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
}
.one .split .split4 .split42
{
	display:flex;
	justify-content:center;
}
.one .split .split4 .split42 .box
{
	height:200px;
	width:200px;
	background-color:blue;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:60px;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}	
.one .footer
{
	display:flex;
	justify-content:center;
	background-color:black;
}
.one .footer .text
{
	height:30px;
	width:100px;
	background-color:white;
	margin:10px;
}